body, html {
  height: 100%;
}
body{
  background-image: linear-gradient(#937DC2, #C689C6,#E8A0BF,#FCC5C0);
}
header{
  text-align: center;
  padding: 2% 0 0.5% 0;
  font-style: italic;
  font-weight: bolder;
}
#color{
  background-color: white;
  margin: 3%;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#create{
  text-align: center;
}
.inner{
  width:60%;
  margin: auto;
}
.form-group
{
  margin: 1%;
}
.addnote{
  padding:  2% 4%;
}
.card{
  margin: 1%;
  background-image: linear-gradient( #C689C6,#E8A0BF,#FCC5C0);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
label{
  font-size: 150%;
  font-weight: bold;
}
.hey{
  margin: 1%;
}
